*, html, body{
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width:1320px;
    padding:0 15px;
}
.white-text{
    color:white;
}
.btn-type-1{
    background: #00868A;
    text-transform: uppercase;
}
.btn-type-2{
    padding: 10px 15px;
    background-color: #4FBFA5;
    border:0px;
}
/* header */
.header__container{
    display:grid;
    grid-template-columns: 260px 185px 199px 330px repeat(4, 80px) ;
}
.header__menu-section{
    border:1px solid;
    padding:16px;
    display: grid;
    justify-content: center;
    align-items: center; 
}
.header__salons-inner{
    position:relative;
}
.header__salons-inner::after{
    content: url(../images/SalonsAfterLogo.png);
    position:absolute;
    left:160px;
    
}
.header__button{
    color:white;
    background: #00868A;
    padding: 10px 15px 8px 40px;
    text-transform: uppercase;
    position:relative;
}
.header__button::before{
    content: url(../images/eye.png);
    position:absolute; 
    left:5px;
    bottom:4px;
}

/* first-screen */
.first-screen{
 background: #4FBFA5;
}
.first-screen__navigation{
      padding:30px 0px 30px 60px;
}
.first-screen__navigation a{
      margin-right:65px;
      text-decoration-line:none;
      color:#fff;
      font-weight: 500;
      font-size:19px;
      font-family:Gillroy;
}
.first-screen__button{
      padding:10px 14px;
      background-color: white;
      margin-left:75px
}
.cosmetology-block__button{
      color:white;
      grid-column: 1/1;
      grid-row: 3/3;
}
.first-screen__cosmetology-container{
      display:grid;
      grid-template-columns: 42% 6% 26% 26%;
      grid-template-rows: repeat(5, 17%) 15%;
}
.first-screen__img-container{
      grid-column: 2/5;
      grid-row:1/6;
}

.cosmetology-block{
      grid-column: 1/1;
      grid-row: 2/6;
      display: grid;
      grid-template-rows: 23% 33% 14% 5% 13%;
      grid-template-columns: 27% 41% 23% ;
}
.first-screen__info{
      padding-top:30px;
      color:white;
      background-color: #00868A;
      text-align: center;
      font-size: 21px;
      Line-height: 150%;
}
.first-screen__procedures {
      grid-column:1/3;
      grid-row:6/7;
}
.first-screen__training{
      background-color: #4FBFA5;
      grid-column: 3/4;
      grid-row: 6/7;
    
  
}
.first-screen__vip-clients{
      grid-column: 4/5;
      grid-row: 6/7;
}
.cosmetology-block__header{
      color:white;
      grid-row: 1/1;
      grid-column: 1/3;
      font-weight: 700;
      font-size:48px;
      line-height:150%;
}
.cosmetology-block__text{
      color:white;
      grid-row: 2/3;
      grid-column: 1/3;
      font-size: 14px;
      line-height:1.2;
}
  
  
.cosmetology-block__text{
      font-size:14px;
      line-height:150%;
}
  
.cosmetology-block__img-wrapper{
      grid-column:3/4;
      grid-row: 5/5;
}

/* second-screen */
.about-section{
    padding:90px;
}
.company-cosmetology-info__header{
    color:white;
    margin:30px 0px;
    font-size: 31px;
    line-height: 150%;
}
.about-section__container{
    display:grid;
    grid-template-columns: 526px 1fr;
    grid-template-rows: 580px 504px;
    grid-row-gap:80px;
}
.company-cosmetology-info{
    background-color: #00868A;
}
.company-news{
    background-color:#4FBFA5;
}
.company-cosmetology-info__learn-more-wrapper{
    margin-bottom:40px;
    display:flex;
    align-items:center;
}
.company-cosmetology-info__learn-more-wrapper div{
    margin-left:10px;
}
.company-cosmetology-info__wrapper{
    margin-top:35px;
    margin-left:40px;
}



.company-patents__wrapper{
    display:grid;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: repeat(2, 95px) 105px  95px 115px;
}

.company-patents{
    padding:35px 0px 75px 140px;
}
.company-patents__text-wrapper:nth-child(1){
    grid-row:1/2;
}

.company-patents__text-wrapper:nth-child(2){
    grid-row-start:2;
}
.company-patents__text-wrapper:nth-child(3){
    z-index:5;
    grid-row-start:3;
}
.company-patents__text-wrapper:nth-child(4){
    grid-row-start:4;
}

.company-patents__image{
    grid-column-start:5;
    grid-row-start:1;
}


.company-patents__text-wrapper{
    display:flex;
    align-items: center;
    grid-column:1/4;

}
.company-patents__button-wrapper{
    margin-bottom:25px;
}

.company-patents__numbers{
   
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
}
.company-patents__text{
    margin-left:20px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}
.company-patents__styled-text{
    font-weight: 500;
    font-size: 28px;
    line-height: 150%;
    min-width: 305px;
    margin:0px 0px 5px 20px;


}
.company-patents__styled-text{
    font-weight: 500;
    font-size: 96px;
    line-height: 150%;

}



.company-news{
    display:grid;
    grid-template-rows: 105px 151px 1fr 1fr;
    grid-template-columns:1fr;
}
.company-news__text{
    color:white;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}
.company-news__button{
    color:white;
    padding:10px 15px;
    text-transform: capitalize;
}
.company-news div{
    padding:35px 95px 35px 40px;
}
.company-news :nth-child(2){
    background-color: #00868A;
}


.company-recomendation{
    padding: 35px 82px 78px 60px;
    background-color: rgb(229,243,243);
}



.company-recomendation__list-item { 
    position: relative; 
    margin-left: 22px;
    }

.company-recomendation__list-item:before {
    content: ' ';
    width: 10px;
    height: 10px;
    position: absolute;
    left: -20px;
    top: 5px;
    border-radius: 25%;
    background: #00868A;
}
.company-recomendation__header{
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
}
.company-recomendation__list-item{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    margin-top:20px;
}
.company-cosmetology-info__button{
    color:white;
}
.company-cosmetology__text{
    color:white;
}
.company-patents__button{
    color:white;
}