*, html, body{
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width:1320px;
    padding:0 15px;
}
.white-text{
    color:white;
}
.btn-type1{
    background: #00868A;
    text-transform: uppercase;
}
.btn-type2{
    padding: 10px 15px;
    background-color: #4FBFA5;
    border:0px;
}
/* header */
.header-container{
    display:grid;
    grid-template-columns: 260px 185px 199px 330px repeat(4, 80px) ;
}
.header-inner{
    border:1px solid;
    padding:16px;
    display: grid;
    justify-content: center;
    align-items: center; 
}
.header-salons-inner{
    position:relative;
}
.header-salons-inner::after{
    content: url(../images/SalonsAfterLogo.png);
    position:absolute;
    left:160px;
    
}
.header-button{
    background: #00868A;
    padding: 10px 15px 8px 40px;
    text-transform: uppercase;
    position:relative;
}
.header-button::before{
    content: url(../images/eye.png);
    position:absolute; 
    left:5px;
    bottom:4px;
}

/* first-screen */
.first-screen{
 background: #4FBFA5;
}
.first-screen-nav{
      padding:30px 0px 30px 60px;
}
.first-screen-nav a{
      margin-right:65px;
      text-decoration-line:none;
      color:#fff;
      font-weight: 500;
      font-size:19px;
      font-family:Gillroy;
}
.nav-btn{
      padding:10px 14px;
      background-color: white;
      margin-left:75px
}
.more-btn{
      grid-column: 1/1;
      grid-row: 3/3;
}
.first-screen-content-container{
      display:grid;
      grid-template-columns: 42% 6% 26% 26%;
      grid-template-rows: repeat(5, 17%) 15%;
}
.first-screen-img-container{
      grid-column: 2/5;
      grid-row:1/6;
}
.first-screen-text-container{
      grid-column: 1/1;
      grid-row: 2/6;
      display: grid;
      grid-template-rows: 23% 33% 14% 5% 13%;
      grid-template-columns: 27% 41% 23% ;
}
.fs-bottom-info{
      padding-top:30px;
      color:white;
      background-color: #00868A;
      text-align: center;
      font-size: 21px;
      Line-height: 150%;
}
.compl-proc{
      grid-column:1/3;
      grid-row:6/7;
}
.centr-ob{
      background-color: #4FBFA5;
      grid-column: 3/4;
      grid-row: 6/7;
    
  
}
.vip-cl{
      grid-column: 4/5;
      grid-row: 6/7;
}
h1{
      grid-row: 1/1;
      grid-column: 1/3;
      font-weight: 700;
      font-size:48px;
      line-height:150%;
}
.first-screen-text{
      grid-row: 2/3;
      grid-column: 1/3;
      font-size: 14px;
      line-height:1.2;
}
  
  
.first-screen-text{
      font-size:14px;
      line-height:150%;
}
  
.fs-text-img-container{
      grid-column:3/4;
      grid-row: 5/5;
}

/* second-screen */
.second-screen{
    padding:90px;
}
.second-screen h2{
    margin:30px 0px;
    font-size: 31px;
    line-height: 150%;
}
.second-screen-container{
    display:grid;
    grid-template-columns: 526px 1fr;
    grid-template-rows: 580px 504px;
    grid-row-gap:80px;
}
.cosmetology-block{
    background-color: #00868A;
}
.news-block{
    background-color:#4FBFA5;
}
.more-container{
    margin-bottom:40px;
    display:flex;
    align-items:center;
}
.more-container div{
    margin-left:10px;
}
.cosmetology-block-wrapper{
    margin-top:35px;
    margin-left:40px;
}



.patents-block-wrapper{
    display:grid;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: repeat(2, 95px) 105px  95px 115px;
}

.patents-block{
    padding:35px 0px 75px 140px;
}
.text-wrapper:nth-child(1){
    grid-row:1/2;
}

.text-wrapper:nth-child(2){
    grid-row-start:2;
}
.text-wrapper:nth-child(3){
    z-index:5;
    grid-row-start:3;
}
.text-wrapper:nth-child(4){
    grid-row-start:4;
}

.patents-block-wrapper img{
    grid-column-start:5;
    grid-row-start:1;
}


.text-wrapper{
    display:flex;
    align-items: center;
    grid-column:1/4;

}
.btn-wrap{
    margin-bottom:25px;
}

.patents-numbers{
   
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
}
.patents-text{
    margin-left:20px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}
.unique-patents-text{
    font-weight: 500;
    font-size: 28px;
    line-height: 150%;
    min-width: 305px;
    margin:0px 0px 5px 20px;


}
.unique-patents-numbers{
    font-weight: 500;
    font-size: 96px;
    line-height: 150%;

}



.news-block{
    display:grid;
    grid-template-rows: 105px 151px 1fr 1fr;
    grid-template-columns:1fr;
}
.news-block div{
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}
.news-btn{
    padding:10px 15px;
    text-transform: capitalize;
}
.news-block div{
    padding:35px 95px 35px 40px;
}
.news-block :nth-child(2){
    background-color: #00868A;
}


.recomendation-block{
    padding: 35px 82px 78px 60px;
    background-color: rgb(229,243,243);
}



.styled-list { 
    position: relative; 
    margin-left: 22px;
    }

.styled-list:before {
    content: ' ';
    width: 10px;
    height: 10px;
    position: absolute;
    left: -20px;
    top: 5px;
    border-radius: 25%;
    background: #00868A;
}
.recomendation-block h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
}
.recomendation-block li{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    margin-top:20px;
}